# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US
d-i debian-installer/language string en
d-i debian-installer/country string BR
d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/supported-locales multiselect pt_BR.UTF-8
d-i keyboard-configuration/xkb-keymap select us

d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/hostname string lacie-d2

d-i anna/choose_modules string network-console
d-i     network-console/password        password lacie
d-i     network-console/password-again  password lacie

d-i mirror/country string manual
d-i mirror/http/hostname string openbsd.c3sl.ufpr.br
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
